<div class="grid" style="height: 2800px;">
	<div class="grid-demo hp-logo-simetri" style="display: block; margin: auto; width:90%; margin-top:20px;">
		<div style="text-align: center; color: #fff; font-size: 18px; line-height: 22px;">
			<h3 style="text-align: center; text-transform: uppercase;">Test</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.  </div>
	</div>
	<div class="grid-demo hp-logo-simetri" style="display: block; margin: auto 44%; width: 30%; margin-top:50px;">
	<img src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-hex.png?11278363123293483374" style="width: 40%;" /></div>
	<!-- section-1 -->
	<div class="grid">
		<div class="grid__item large--one-half one-whole au-grid-1-1" style="padding-left:150px;" >
			<div class="ap-simetri-spacer-hide-small" style="">&nbsp;</div>
			<a href="#hp-section-2"></a>
		</div>
		<div class="grid__item large--one-half one-whole au-grid-1-2" style="">
			<div class="ap-simetri-spacer-hide-small" style="">&nbsp;</div>
			<h3 id="hp-section-1" >Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.  </div>
	</div>
	<!-- section-2 -->
	<div class="grid">
		<div class="grid__item large--one-half one-whole au-grid-2-1">
			<a href="" style="color:#fff;">
				<h3>Altman Plants Reveals SiMETRI</h3>
				Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.
			</a>
		</div>
		<div class="grid__item large--one-half one-whole au-grid-2-2">
			<img id="au-section-2" src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-au-circle.png?5260113797992090379">
		</div>
	</div>
	<!-- section-3 -->
	<div  class="grid">
		<div class="grid__item large--one-half one-whole au-grid-3-1" style="padding-left:150px;" >
			<div class="ap-simetri-spacer-hide-small" style="margin-top:410px;">&nbsp;</div>
			<a href=""><img id="au-section-3" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-dedecahed.png?11278363123293483374">
			</div>
			<div  class="grid__item large--one-half one-whole au-grid-3-2" style="color:#fff;">
				<h3 >Altman Plants Reveals SiMETRI</h3>
			Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.    </div>
		</div>
		<!-- section-4 -->
		<div class="grid">
		</div>
		<div class="grid" id="hp-section-4">
			<div class="grid__item large--one-half one-whole" style="color: #fff;">
				<div class="ap-simetri-spacer-hide-small" style="margin-top: 0px;">&nbsp;</div>
				<h3>Altman Plants Reveals SiMETRI</h3>
			Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants. &nbsp;Now available under one name, Simetri is the succulent collection that sets the bar for all others.</div>
			<div class="grid__item large--one-half one-whole" style="color: #fff;">
				<div class="ap-simetri-spacer-hide-small" style="margin-top: 0px;">&nbsp;</div>
				<h3>Altman Plants Reveals SiMETRI</h3>
				Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants. &nbsp;Now available under one name, Simetri is the succulent collection that sets the bar for all others.
				
				
			</div>
		</div>
	</div>