<div class="grid">
	<div class="grid--full">
		<div class="grid__item one-whole cat-featured-product-top">
			<div class="grid__item large--one-half one-whole">
				<h2>TRAY FORAY</h2>
				<img class="cat-featured-product-top-geo-img" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shapes-pyramid.png?48370909661020430" >
				<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i></h4>
			</div>
			<div class="grid__item large--one-half one-whole">
				<img class="cat-featured-product-top-img" src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-cat-prod-top-assorted-1.png?1634620175205569537">
			</div>
		</div>
	</div>
	<div class="grid--full">
		<div class="grid__item large--one-half cat-featured-product-btm-left">
			<h3 class="text-center" >2.5 inch Succulents</h3>
			<img class="cat-featured-product-btm-left-img" src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-cat-prod-left-2-5-inch.png?5946848834064735632">
		</div>
		<div class="grid__item large--one-half cat-featured-product-btm-right">
			<h3 class="text-center" >3.5 inch Succulents</h3>
			<img class="cat-featured-product-btm-right-img" src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-cat-prod-right-3-5-inch.png?15336550772670895738">
		</div>
	</div>
</div>