<div class="grid" style="height: 4800px;">
	<div class="grid-demo hp-logo-simetri" style="display: block; margin: auto 42%; width: 30%;"><img src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-logo-simetri-color-lockup.png?5596694568849722960%0D%0A" style="width: 70%;" /></div>

<!-- section-1 -->

	<div class="grid">
		<div class="grid__item large--one-half one-whole" style="padding-left:150px;" >
			<div class="ap-simetri-spacer-hide-small" style="margin-top:410px;">&nbsp;</div>
			<img src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-hex.png?11278363123293483374">
		</div>
		<div class="grid__item large--one-half one-whole" style="color:#fff;">
			<div class="ap-simetri-spacer-hide-small" style="margin-top:200px;">&nbsp;</div>
			<h3>Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.  </div>
	</div>

<!-- section-2 -->

	<div class="grid">
		<div class="grid__item large--one-half one-whole" style="padding-left:150px;" >
			<div class="ap-simetri-spacer-hide-small" style="margin-top:410px;">&nbsp;</div>
			<img src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">
		</div>
		<div class="grid__item large--one-half one-whole" style="">
			<div class="ap-simetri-spacer-hide-small" style="margin-top:200px;">&nbsp;</div>
			<h3>Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  </div>
	</div>

<!-- section-3 -->

	<div class="grid">
		<div class="grid__item large--one-half one-whole" style="padding-left:150px;" >
			<div class="ap-simetri-spacer-hide-small" style="margin-top:410px;">&nbsp;</div>
			<img src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-dedecahed.png?11278363123293483374">
		</div>
		<div class="grid__item large--one-half one-whole" style="color:#fff;">
			<div class="ap-simetri-spacer-hide-small" style="margin-top:600px;">&nbsp;</div>
			<h3>Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.    </div>
	</div>



<!-- section-4 -->

	<div class="grid">
		<div class="grid__item large--one-half one-whole" style="padding-left:150px; color: #fff;" >
			<div class="ap-simetri-spacer-hide-small" style="margin-top:410px;">&nbsp;</div>

		<img style="display: block; width: 150%;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">


			<h3>Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.   



		</div>
		<div class="grid__item large--one-half one-whole" style="color:#fff;">
			<div class="ap-simetri-spacer-hide-small" style="margin-top:600px;">&nbsp;</div>

			<img style="padding-top: 200px;
    padding-left: 150px;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-cube.png?11278363123293483374">

		</div>
	</div>


<!-- section-5 -->

	<div class="grid">

			<div class="ap-simetri-spacer-hide-small" style="margin-top:200px;">&nbsp;</div>


		<div class="grid__item large--one-quarter one-whole" style="" >

		<img style="display: block;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">

		</div>


		<div class="grid__item large--one-quarter one-whole" style="" >

		<img style="display: block;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">

		</div>


		<div class="grid__item large--one-quarter one-whole" style="" >

		<img style="display: block;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">

		</div>


		<div class="grid__item large--one-quarter one-whole" style="" >

		<img style="display: block;" src="https://cdn.shopify.com/s/files/1/1420/2624/files/geo-shape-triangular-pyramid.png?11278363123293483374">

		</div>




	</div>




</div>