<div class="grid" style="height: 4800px;">
	<div class="grid-demo hp-logo-simetri" style="display: block; margin: auto 42%; width: 30%;"><img src="https://cdn.shopify.com/s/files/1/1420/2624/files/img-logo-simetri-color-lockup.png?5596694568849722960%0D%0A" style="width: 70%;" /></div>
	<div class="grid">
		<div class="grid__item large--one-half one-whole" >
			<div class="ap-simetri-spacer" style="margin-top:500px;">&nbsp;</div>
			<h3>Altman Plants Reveals SiMETRI</h3>
		</div>
		<div class="grid__item large--one-half one-whole" style="font-color:#fff;">
			<h3>Altman Plants Reveals SiMETRI</h3>
		Simetri is the culmination of what cacti and succulent enthusiasts the world over have long known; Altman Plants is the premier source for new and exciting plants.  Now available under one name, Simetri is the succulent collection that sets the bar for all others.  Comprised of Altman Plants patented varieties, Simetri is bred in house by our renowned team of breeders and hybridizers.  Only the most unique, beautiful, resilient creations get to call their home with Simetri.  Look for them online and in garden centers near you.  </div>
	</div>
</div>