<h4>Product Description</h4>
<p>In habitat, many Echeverias grow on rocky outcroppings at higher altitudes. In this habitat, the water drains quickly away from the roots of the plant, never allowing the plant to remain waterlogged. For this reason, it is essential in cultivation to use a very porous soil, which will allow quick drainage. Bright light is required to prevent “stretching” of Echeverias (“stretching” occurs when a moderately fast growing plant such as an Echeveria, is grown in dim light or over-fertilized, which causes overly lush growth that contributes to weak, pallid plants). Water thoroughly when soil is dry to the touch. Protect from frost. All varieties are labeled with genus and species as well as a colorful care tag. The collection offers excellent texture, color, and quality. All plants are California grown from seed or cuttings on our acres of greenhouse and fields in North San Diego County. Assortments change weekly with plant availability.</p>
<h4>Information</h4>
<table width="100%">
	<tbody>
		<tr>
			<td class="product-information-td-left">Individual Items</td>
			<td class="product-information-td-right">32</td>
		</tr>

		<tr>
			<td class="product-information-td-left">Individual Items</td>
			<td class="product-information-td-right">32</td>
		</tr>

		<tr>
			<td class="product-information-td-left">Individual Items</td>
			<td class="product-information-td-right">32</td>
		</tr>

		<tr>
			<td class="product-information-td-left">Individual Items</td>
			<td class="product-information-td-right">32</td>
		</tr>
	</tbody>
</table>
